.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #89f7fe, #66a6ff);
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.login-card input {
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-card button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #66a6ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.switch-link {
  margin-top: 15px;
  text-align: center;
  color: #66a6ff;
  cursor: pointer;
}



@media (max-width: 768px) {
  .login-card {
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .login-card {
    padding: 20px;
    border-radius: 10px;
  }

  .login-card input,
  .login-card button {
    padding: 10px;
    font-size: 14px;
  }

  .switch-link {
    font-size: 14px;
  }
}